<!DOCTYPE html>
<html>
     <head>
          <meta charset="UTF-8">
          <title></title>
          <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0">
          <link rel="stylesheet" href="https://kit.fontawesome.com/5fc1567966.js">
          <script src="https://kit.fontawesome.com/5fc1567966.js" crossorigin="anonymous"></script>
          <link rel="sylesheet" href="estilos.css">
     </head>
     <body>
          <form class="Formulario ">
               <h1>Registrate</h1>
               <div class="Contenedor">
                    <div class="imput-contenedor">
                         <i class="fa-solid fa-user icon"></i>
                         <input type="text" placeholder="Nombre completo">
                    </div>
                    <div class="imput-contenedor">
                         <i class="fa-solid fa-envelope icon"></i>
                         <input type="text" placeholder="Email">
                    </div>
                    <div class="imput-contenedor">
                         <i class="fa-solid fa-lock icon"></i>
                         <input type="password" placeholder="Password">
                    </div>
                    <input type="submit" value="Registrate" class="buttom">
                    <p>Tenés una cuenta?? <a href="link" href="loginvista.html">Iniciar Sesión</a></p>
               </div>
          </form>
     </body>
</html>